<div class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <h2 style="padding-bottom:10px;padding-top:10px;">Solution to start </h2>
        </div>	
    </div>
    <div class="row text-center">
        <div class="text-center col-md-10 col-md-offset-1"> 
                <p>
                    We allow you pass the first but the most important phase of your journey easily. We deliver you a ready marketplace solution with core features that will meet your users' need, that will enable you go market in a very short time, and validate your sharing economy idea. 
                </p>
            </div>
     </div> 

 </div>
 
