<div class="container" style="margin-top:20px; margin-bottom:50px;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="title text-center">
                <h2>VQ-Marketplace Pricing</h2>
                </div>
            </div>
        </div>

        <div class="row equal">
            <div class="col-xs-12 col-sm-4">
                <div class="price-wrapp">
                    <div class="price-header">
                        <span class="type">Startup</span>
                        <div class="prices">
                        <span class="price">500</span>
                        <sub class="period">€/Month</sub>
                        </div>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>Up to 1000 users</li>
                            <li>No transaction fees</li>
                            <li>Email support</li>
                            <li>Free SSL certificate</li>
                            <li>Custom domain</li>
                            <li>Translations</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                        <a href="/contact">
                            <button class="wsk-btn red">Contact us</button>
                        </a>
                    </div>
                </div>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <div class="price-wrapp">
                        <div class="price-header">
                            <span class="type">Business</span>
                            <div class="prices">
                                <span class="price">1500</span>
                                <sub class="period">€/Month</sub>
                            </div>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li>Up to 10000 users</li>
                                <li>No transaction fees</li>
                                <li>Priority support</li>
                                <li>Free SSL certificate</li>
                                <li>Custom domain</li>
                                <li>Translations</li>
                                </ul>
                        </div>
                        <div class="price-footer">
                            <a href="/contact">
                                    <button class="wsk-btn red">Contact us</button>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-4">
                    <div class="price-wrapp">
                    <div class="price-header">
                        <span class="type">Enterprise</span>
                        <div class="prices">
                        <span class="price">Flexible</span>
                        </div>
                    </div>
                    <div class="price-body">
                        <ul>
                            <li>Unlimited users</li>
                            <li>Smart User Recommendation (<a href="/vq-ai">VQ-AI</a>)
                            <li>No transaction fees</li>
                            <li>On-premise deployments</li>
                            <li>Support 24h</li>
                            <li>Translations</li>
                        </ul>
                    </div>
                    <div class="price-footer">
                            <a href="/contact">
                                <button class="wsk-btn red">Contact us</button>
                            </a>
                    </div>
                </div>
            </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <p>
            This does not include setup, project management, customization fees and design, branding package that range from 5000€ to 50000€.
            </p>
        </div>
    </div>
</div>