<div class="container">
    <div class="row text-center">
        <div class="col-xs-12">
            <h2 style="padding-bottom:10px;">Solutions For Sharing Economy</h2>
        </div>	
    </div>
    <div class="row text-center">
        <div class="center-align col-md-10 col-md-offset-1"> 
                <p>
                    Two-sided marketplace allows you to bring your users - sellers and buyers - together in one platform. Our expert team delivers a robust and seamless solution for our client's specific business. VQ-Marketplace offers solutions for C2C (peer-to-peer), B2C & B2B. We support several types of online marketplaces from buying and selling product/service and rentals to event bookings. 
                </p>
            </div>
        </div>

    <div class="row text-center" style="padding-top:30px;padding-bottom:10px;">
        <a href="/vq-marketplace/features" class="button">See all features</a>
    </div>
 
</div>