

/*----------------------------------------------------------------------------------------
										COMMON STYLES
-----------------------------------------------------------------------------------------*/

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 100;
	color: #777;
	line-height: 1.6;
	text-align: center;
}

h1 {
	font-weight: 100;
	font-family: 'Helvetica Neue';
	letter-spacing: 5px;
}

h1,
h2,
h3,
h4 {
	text-transform: uppercase;
	color: #444;
	font-weight: lighter;
	line-height:1.2;
	margin:30px 0 10px 0;
}


section {
	padding: 50px 0;
	position: relative;
	background: #fff;
	z-index: 2;
	overflow: hidden;
}


@media (max-width: 600px) {
  h1 {
    font-size: 30px;
  }

  .vq-intro {
	  margin-top: 20px;
  }

   .vq-impressum {
	  margin-top: 30px; 
  }
}

@media (min-width: 600px) {
  h1 {
   font-size: 60px;
  }

  .vq-intro {
	  margin-top: 80px;
	
  }

  .vq-impressum {
	  margin-top: 80px; 
  }


.home-container  {
	 height:500px;
}

.button {
    background-color: #ffffff; 
    border: 2px solid #ffffff;
    color: #1A5276;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 4px;
}

.button {
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #1A5276; 
    color:  #ffffff;
	border: #ffffff;
	text-decoration: none;
}




