/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html {
    min-height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    font-family: Helvetica Neue, Arial, Verdana;
}

input {
    font-family: Helvetica Neue, Arial, Verdana;
}

input[type="button"],
input[type="submit"],
button {
    text-transform: uppercase;
}

/*form styles*/
.form-wrapper {
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.form-custom {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 90%;
    margin: 0 5%;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*inputs*/
.form-group-custom {
    margin-top: 15px;
    background-color: #fff;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 2px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    overflow: hidden;
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

.form-group-custom.form-group-select {
    overflow: visible;
}

.form-control {
    display: block;
    width: 100%;
    -webkit-appearance: none;
    color: #2c2c2c;
    outline: 0;
    line-height: normal;
    font-size: 14px;
    font-weight: normal;
    vertical-align: middle;
    box-shadow: none;
    border: none;
    font-size: 16px;
    margin-top: -4px;
    background: none;
    height: 29px;
    min-height: 29px;
    padding-left: 1px;
}

.form-control:focus {
    outline: 0;
    border: 0;
    box-shadow: none;
}

.form-group-custom-select.focused, .form-group-custom.focused {
    border-color: rgba(0, 0, 0, 0.1) !important;
    background-color: #f0f0f0;
}

.select2-container--focus {
    border-color: rgba(0, 0, 0, 0.1) !important;
    background-color: #f0f0f0;
}

.form-group-custom-select.required.incomplete,
.form-group-custom.required.incomplete
{
    border-color: #f55753 !important;
}

.form-group-custom-select.required.incomplete > label,
.form-group-custom.required.incomplete > label
{
    color: #f55753 !important;
}

input, input:focus {
    -webkit-transition: none !important;
}

/*form label*/
.form-group-custom-select label:not(.error), .form-group-custom label:not(.error) {
    font-family: 'Montserrat';
    font-size: 13px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    font-weight: 500;
}

.form-group-custom-select label, .form-group-custom label {
    text-align: left;
    margin: 0;
    display: block;
    opacity: 1;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.form-group-custom-select.focused label, .form-group-custom.focused label {
    opacity: .4;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.form-group-custom-select label {
    position: relative;
}

/* form required */

.form-group-custom-select.required:after, .form-group-custom.required:after {
    color: #f55753;
    content: "*";
    font-family: arial;
    font-size: 20px;
    position: absolute;
    right: 12px;
    top: 6px;
}

/*buttons*/
.action-button {
    width: 100px !important;
    background: #000639 !important;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 20px 5px;
}

.action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(26, 82, 119);
}

/*headings*/
.fs-title {
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(18, 62, 84);
    margin-bottom: 10px;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 15px;
    color: rgb(26, 82, 119);
    margin-bottom: 30px;
}

/* logo */

.logo {
    width: 20%;
    margin-bottom: 15px;
}

/*progressbar*/
#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    padding-left: 0px;
    /*CSS counters to number the steps*/
    counter-reset: step;
}

#progressbar li {
    list-style-type: none;
    color: #000639;
    text-transform: uppercase;
    font-size: 9px;
    font-weight: bold;
    width: 25%;
    float: left;
    position: relative;
}

#progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 10px;
    color: #000639;
    background: white;
    border: 1px solid #000639;
    border-radius: 3px;
    margin: 0 auto 5px auto;
}

/*progressbar connectors*/
#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
}

#progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before, #progressbar li.active:after {
    background: #000639;
    color: white;
}

.bg-gradient-blue {
    background-color: #6bd6e8;
    background-image: -webkit-linear-gradient(45deg, #6bd6e8, #365fda);
    background-image: -moz-linear-gradient(45deg, #6bd6e8, #365fda);
    background-image: -ms-linear-gradient(45deg, #6bd6e8, #365fda);
    background-image: -o-linear-gradient(45deg, #6bd6e8, #365fda);
    background-image: linear-gradient(45deg, #6bd6e8, #365fda);
}

.bg-gradient-red {
    background-color: #033d53;
    background-image: -webkit-linear-gradient(45deg, #033d53, #f02c57);
    background-image: -moz-linear-gradient(45deg, #033d53, #f02c57);
    background-image: -ms-linear-gradient(45deg, #033d53, #f02c57);
    background-image: -o-linear-gradient(45deg, #033d53, #f02c57);
    background-image: linear-gradient(45deg, #033d53, #f02c57);
}

.bg-gradient-charcoal {
    background-color: #314e5f;
    background-image: -webkit-linear-gradient(45deg, #314e5f, #242425);
    background-image: -moz-linear-gradient(45deg, #314e5f, #242425);
    background-image: -ms-linear-gradient(45deg, #314e5f, #242425);
    background-image: -o-linear-gradient(45deg, #314e5f, #242425);
    background-image: linear-gradient(45deg, #314e5f, #242425);
}

.bg-gradient-ember {
    background-color: #eee;
}

.bg-gradient-purple {
    background-color: #c86dd7;
    background-image: -webkit-linear-gradient(45deg, #c86dd7, #3023ae);
    background-image: -moz-linear-gradient(45deg, #c86dd7, #3023ae);
    background-image: -ms-linear-gradient(45deg, #c86dd7, #3023ae);
    background-image: -o-linear-gradient(45deg, #c86dd7, #3023ae);
    background-image: linear-gradient(45deg, #c86dd7, #3023ae);
}

.bg-gradient-green {
    background-color: #1ac9c0;
    background-image: -webkit-linear-gradient(45deg, #1ac9c0, #066187);
    background-image: -moz-linear-gradient(45deg, #1ac9c0, #066187);
    background-image: -ms-linear-gradient(45deg, #1ac9c0, #066187);
    background-image: -o-linear-gradient(45deg, #1ac9c0, #066187);
    background-image: linear-gradient(45deg, #1ac9c0, #066187);
}

.bg-gradient-blue .btn-white:hover {
    color: #6bd6e8;
    border-color: #fff;
    background-color: #fff;
}

.bg-gradient-red .btn-white:hover {
    color: #033d53;
    border-color: #fff;
    background-color: #fff;
}

.bg-gradient-charcoal .btn-white:hover {
    color: #314e5f;
    border-color: #fff;
    background-color: #fff;
}

.bg-gradient-ember .btn-white:hover {
    color: #fad961;
    border-color: #fff;
    background-color: #fff;
}

.bg-gradient-purple .btn-white:hover {
    color: #c86dd7;
    border-color: #fff;
    background-color: #fff;
}

.bg-gradient-green .btn-white:hover {
    color: #1ac9c0;
    border-color: #fff;
    background-color: #fff;
}

.flag-text {
    margin-left: 10px;
}

.ladda-button {
    /*width: auto !important;*/
}

.ladda-button .ladda-spinner {
    width: 16px !important;
    height: 16px !important;
}

.ladda-button[data-style=expand-right][data-loading] {
    padding-right: 45px !important;
}

.ladda-button[data-style=expand-right] .ladda-spinner {
    right: 7px !important;
}

.ladda-button[disabled], .ladda-button[data-loading] {
    border-color: rgba(0, 0, 0, 0.07) !important;
    cursor: not-allowed !important;
    background-color: #999 !important;
}

.ladda-button[disabled]:hover, .ladda-button[data-loading]:hover {
    cursor: not-allowed !important;
    background-color: #999 !important;
}