<div class="container" style="padding-top:20px;padding-bottom:30px;">
			  <div class="row">
				<div class="center-align col-md-10 col-md-offset-1">
					<h2 style="padding-bottom:20px;">BOOST YOUR SALES WITH VQ-MARKETPLACE AI</h2>
					<p style="padding-bottom:20px;">Get insights what else your customers may want with data from their behaviour and actions. More products mean more traffic, expanded order value and increased user loyalty.
					</p>
				</div> 
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4  center-align">
					<i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>	
					<p class="center-align" style="color:#777;font-size:16px;padding-top:20px;"><b>More user engagement</b></p>
				</div>	
				<div class="col-xs-12 col-md-4 center-align">
					<i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
					<p class="center-align" style="color:#777;font-size:16px;padding-top:15px;"><b>Better customer retention</b></p>
				</div>	
				<div class="col-xs-12 col-md-4 center-align">
					<i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>	
					<p class="center-align" style="color:#777;font-size:16px;padding-top:25px;"><b>Higher revenue</b></p>
				</div>		
			</div>	
        
        <div class="row" style="padding-top:30px;">	
			<div class="col-xs-12">  
					<a href="/brochure-vq-marketplace-ai.pdf" class="button">Read Brochure</a>
            </div>
        </div>              
</div>