<div class="container-fluid" style="background-color:#1A5276;">		
    <div class="row ">
       <div class="col-xs-12"> 
            <h2 style="padding-bottom:10px;padding-top:10px;color:#ffffff;">Architecture</h2>
            <p style="padding-bottom:30px;color:#ffffff;">
                VQ Marketplace AI’s application architecture wraps high-performance machine learning and prediction into an innovative, fault-tolerant modern technology stack.<br> The application works in a public cloud using containers for secure and private front-end, computation and internal storage.<br> The enterprise edition is extensible to virtual private clouds and parallelized compute infrastructures.
            </p>
        </div>    
    </div>
</div>
