<div class="container" style="margin-top:20px; margin-bottom:20px;">
        <div class="row">
            <h2 style="padding-bottom:10px;">How does it work?</h2>
            <p style="padding-bottom:20px;">
                Once set up, interaction of your users with recommendations will lead to more user engagement, better customer retention, and more revenue. It will only get better with time as VQ Marketplace AI understands your application's patterns better.
            </p>
            <div class="col-xs-12 col-sm-4 col-md-3">			
                    <i class="fa fa-cog fa-2x" aria-hidden="true"></i>
                        <p style="padding-top:10px;"><b>Integrate and track</b></p>
                        <p style="padding-top:10px;">
                            Integrate VQ Marketplace Intelligence and use its APIs in your application. Start sending your user's actions like product views, rates and interactions to train our smart machine learning models.
                        </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">	
                    <i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
                    <p style="padding-top:10px;"><b>Learning</b></p>
                    <p style="padding-top:10px;">VQ Marketplace Intelligence runs its state-of-art scalable machine learning algorithms to learn from your data.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">	
                    <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
                    <p style="padding-top:10px;"><b>Display Recommended Content</b></p>
                    <p style="padding-top:10px;">
                    Request recommended or similar items (or users) from VQ Marketplace. Our lightning-fast serving layer will respond in miliseconds.
                    </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">	
                    <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
                    <p style="padding-top:10px;"><b>Find similiar products</b></p>
                    <p style="padding-top:10px;">
                        You may promote similar items on item pages for your users. Since they're already visiting an item, they could be more likely to see other items that similar users also visit. You can also use this feature to predict tags or categories for your items.
                    </p>
            </div>
        </div>
</div>