<div class="container" style="margin-top:20px; margin-bottom:30px;">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="title text-center">
                    <h2>VQ-Marketplace AI Pricing</h2>
                    </div>
                </div>
            </div>

            <div class="row equal">
                <div class="col-xs-12 col-sm-4">
                    <div class="price-wrapp">
                        <div class="price-header">
                            <span class="type">Basis</span>
                            <div class="prices">
                            <span class="price">500</span>
                            <sub class="period">€/Month</sub>
                            </div>
                        </div>
                        <div class="price-body">
                            <ul>
                            <li>Full API functionality</li>
                            <li>Cloud-Based solution</li>
                            <li>Support in business hours</li>
                            <li><b>1MM</b> recommendation requests/month</li>
                            <li><b>10MM</b> action tracking requests/month</li>
                            </ul>
                        </div>
                        <div class="price-footer">
                            <a href="/contact">
                                <button class="wsk-btn red">Contact us</button>
                            </a>
                        </div>
                    </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4">
                        <div class="price-wrapp">
                            <div class="price-header">
                                <span class="type">Premium</span>
                                <div class="prices">
                                <span class="price">3500</span>
                                <sub class="period">€/Month</sub>
                                </div>
                            </div>
                            <div class="price-body">
                                <ul>
                                <li>Full API functionality</li>
                                <li>Cloud-Based solution</li>
                                <li>Support 24h</li>
                                <li><b>Unlimited</b> recommendation requests/month</li>
                                <li><b>Unlimited</b> action tracking requests/month</li>
                                </ul>
                            </div>
                            <div class="price-footer">
                                <a href="/contact">
                                        <button class="wsk-btn red">Contact us</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-4">
                        <div class="price-wrapp">
                        <div class="price-header">
                            <span class="type">Enterprise</span>
                            <div class="prices">
                            <span class="price">Flexible</span>
                            </div>
                        </div>
                        <div class="price-body">
                            <ul>
                            <li>Free integration and consultation</li>
                            <li>Additional-profit-based pricing</li>
                            <li>Full API functionality</li>
                            <li>Private cloud solution</li>
                            <li>Support 24h</li>
                            <li><b>Unlimited</b> recommendation requests/month</li>
                            <li><b>Unlimited</b> action tracking requests/month</li>
                            </ul>
                        </div>
                        <div class="price-footer">
                                <a href="/contact">
                                    <button class="wsk-btn red">Contact us</button>
                                </a>
                        </div>
                    </div>
                </div>
</div>
