<div class="container">	
	        <div class="col-xs-12"> 
				<h2 class="title" style="padding-bottom:10px;"><b>Marketplace AI:</b> an intelligent Recommendation Engine</h2>
				<p style="padding-bottom:20px;">We integrate Artificial Intelligence / Machine Learning algorithms to increase your revenue and allows a better experience for your users.</p>
			</div>	
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">			
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Recommended items for users</b></p>
							<p>
								You can use VQ-Marketplace AI to display recommended items for your users. Displaying recommended items enhances your users' experience and provides you with high user engagement and customer retention.
							</p>
							
						</div>
					<div class="col-xs-12 col-sm-6 col-md-5">	
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Recommended users for products</b></p>
							<p>If you have a new item or a group of items or a campaign, you can use VQ-Marketplace AI to target users for these items. This leads you present interesting content to some of your users while not bothering the rest of them.</p>
					</div>
				</div>
				<br>
				<div class="row">	
					<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">	
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Find similiar users</b></p>
							<p>
								Being able to find which users are similar to each other could benefit your users significantly when they are able to find other likeminded users. Personal connections made in your platform would help you increase user loyalty.
							</p>
					</div>
	
					<div class="col-xs-12 col-sm-6 col-md-5">	
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Find similiar products</b></p>
							<p>
								You may promote similar items on item pages for your users. Since they are already visiting an item, they could be more likely to see other items that similar users also visit. You can also use this feature to predict tags or categories for your items.
							</p>
					</div>
				</div>	
		
		</div>
