 <div class="container" style="margin-top:20px; margin-bottom:20px;">
        <div class="row">
				<h2 style="padding-bottom:10px;">Why <b>Marketplace AI</b>?</h2>
				<p style="padding-bottom:20px;">
                    If you’re not innovating in e-commerce or content, you may just get left behind. Recommendation engine set your company apart by taking your e-commerce efforts to the next level. Recommendation engines can take on many diverse forms. A few you may be familiar with:
                </p>
				<div class="col-xs-12 col-sm-4 col-md-3">			
						<i class="fa fa-cog fa-2x" aria-hidden="true"></i>
						 <p style="padding-top:10px;"><b>AMAZON’S PRODUCT RECOMMENDATIONS</b></p>
                         <p style="padding-top:10px;">
                             Across to entire website, Inspired by your shopping trends, customers also shopped for.
                         </p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-3">	
						<i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
						<p style="padding-top:10px;"><b>LINKEDIN'S CONNECTION TOOL</b></p>
						<p style="padding-top:10px;">“People You May Know” tool that recommends connections based on existing contacts.</p>
				</div>
                <div class="col-xs-12 col-sm-4 col-md-3">	
						<i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
						<p style="padding-top:10px;"><b>GOOGLE’S SEARCH ENGINE</b></p>
						<p style="padding-top:10px;">Results page (SERP) which recommends pages to view based on keywords and other usage data</p>
				</div>
                <div class="col-xs-12 col-sm-4 col-md-3">	
						<i class="fa fa-sitemap fa-2x" aria-hidden="true"></i>
						<p style="padding-top:10px;"><b>ONLINE MEDIA OUTLETS</b></p>
						<p style="padding-top:10px;">Constantly recommending new and relevant articles are a way to keep visitors on a website and interested in the content.</p>
				</div>
                
        </div>
</div>