	<div class="container-fluid" style="margin-top:20px;margin-bottom:50px;">
			 	<div class="row">
					<h2>Key Features</h2><br>
			 	</div>

				 <div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5 text-left col-md-offset-1 col-lg-offset-2">
						<p style="color:#777;"><u><b>For Sellers</b></u></p>
						<p>&#10004; Vendor registration & Approval workflow</p>
						<p>&#10004; Select & Sell</p>
						<p>&#10004; Vendor portal for products and orders management with ease</p> 
						<p>&#10004; Order confirmation / Rejection workflow</p>
						<p>&#10004; Orders history management</p>
						<p>&#10004; Vendor feedback and ratings</p>
						<p>&#10004; Customized vendor Pages</p>
			 	</div>	
					
			 	<div class=" col-xs-12 col-sm-6 col-md-5 col-lg-5 text-left  ">
						<p style="color:#777;"><u><b>For Buyers</b></u></p>
						<p>&#10004; Quick search through filtering</p>
						<p>&#10004; Easy interface for compelling buying experience</p>
						<p>&#10004; Select & Buy</p
						<p>&#10004; Seamless experience across all categories</p>
				 		<p>&#10004; Product rating & Review</p>
						<p>&#10004; Social media sharing</p>
						<p>&#10004; My account / Profile / Orders</p>
				 
				</div> 
		   </div>	
		  