<div class="container" style="padding-top:20px;">
    <div class="row text-center">
        <div class="col-xs-12">
            <h2 style="padding-bottom:10px;">Marketplace solutions</h2>
        </div>	
    </div>
    <div class="row text-center">
        <div class="col-xs-12 col-sm-6">
            <h3 style="padding-bottom:10px;">e-Commerce (one-sided)</h3>
            <p>
                One-sided marketplace is where you act as the seller of your products, services or rentals.
            </p>
        </div>

        <div class="col-xs-12 col-sm-6">
            <h3 style="padding-bottom:10px;">Shared Economy (two-sided)</h3>
            <p>
                Two-sided marketplace allows you to have your users connected with each other. They sell products, offer services or rent things.
            </p>
        </div>	
    </div>
    <div class="row text-center">
        <a href="/marketplace/features" class="button">See complete features</a>
    </div>
</div>