<div class="container" style="margin-top:20px;margin-bottom:40px;">	
			<div class="row text-center">
					<div class="center-align col-md-10 col-md-offset-1">
					<h2>Why VQ-Marketplace?</h2>
                    <p style="padding-top:10px;"> With VQ-Marketplace, you will have a technology covered for you that allows you<b> a quick set up</b> and <b>configuration </b>which will <b>speed your time-to-market.</b> Once we start working together, we provide you with an end-to-end implementation and support that you can learn more about <a href="/implementation">here.</a></p>
				</div>	
			</div>	
			<div style="padding-top:25px;">
				<img class="img-responsive" style="margin: 0 auto; max-width: 750px; width: 100%;" src="/marketplace-technology.png" />

			</div>
	</div>