<div class="container" style="padding-bottom:10px;">
			  <div class="row">
				<div class="center-align  col-xs-12 col-sm-12">
					<h2 style="margin-bottom:30px;">Launch your Marketplace</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-md-4  center-align">
					<i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
					<p class="center-align" style="color:#777;font-size:16px;padding-top:20px;"><b>More offers</b></p>
				</div>	
				<div class="col-xs-12 col-md-4 center-align">
					<i class="fa fa-eye fa-3x" aria-hidden="true"></i></i>
					<p class="center-align" style="color:#777;font-size:16px;padding-top:15px;"><b>More presence</b></p>
				</div>	
				<div class="col-xs-12 col-md-4 center-align">
					<i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>	
					<p class="center-align" style="color:#777;font-size:16px;padding-top:25px;"><b>More conversion </b></p>
				</div>		
			</div>	       
</div>