<div class="container" style="padding-bottom:20px;">
        <div class="row">
            <div class="col-xs-12">
                <h2>Contact us</h2>
                <p style="padding-top:10px;padding-bottom:20px;">We look forward to hearing from you to jointly discuss and explore new opportunities in
                the Sharing Economy that will create and capture new value.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
				<div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-0 text-center">
                    <a href="mailto:info@vq-labs.com" class="btn-block vq-button">info@vq-labs.com</a>
				</div>
            </div>	
        </div>	
</div>