<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
            <img src="/images/listing-mockup.png" class="img-responsive" alt="listing mockup">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
            <h2 style="padding-bottom:15px;">Listings</h2>
            <p>Your users will be able to add details, geolocation, price, date, duration and images to their listings. Additionally, listings have public discussion where users can comment or discuss on the specific listing. </p>
            <p>As a marketplace owner, you will be able to set how your listing page you want to be seen to your users, as a list?, as a map? or both?
        </div>
    </div>
</div>   
<div class="container">
    <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
                <h2 style="padding-bottom:15px;">Works in any language you wish</h2>
                <p>
                   VQ-Marketplace enables you to have your Marketplace in any language you wish. You can set a default language and supported languages for your marketplace and translate each label in the platform accordingly. 
                </p> 
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
                    <img src="/images/language-mockup.png" class="img-responsive" alt="language mockup">
            </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">  
            <img src="/images/seo-mockup.png" class="img-responsive" alt="seo mockup">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left">
            <h2 style="padding-bottom:15px;">Customize SEO </h2>
            <p>We make SEO friendly for you. You will be able to easily create meta descriptions for your SEO which will make you sound in search engines. Also, you can easily connect your social media accounts to your marektplace in few seconds.</p>
        </div>
    </div>
</div>   


