 <div class="container" style="padding-top:20px;padding-bottom:10px;">
    <div class="row text-center">
        <div class="center-align col-md-10 col-md-offset-1">
            <h2 style="padding-bottom:10px;">Solutions for eCommerce</b></h2>
            <p class="text-center" style="color:#777;">
                Get new products in your customers’ hands faster and build you your own customized eCommerce solution with the <a href="/marketplace">VQ Marketplace Platform</a> or learn what else your customers want, improve the user experiance and boost your sales with the <a href="/marketplace-ai">Marketplace AI</a>.
            </p>
        </div>	
    </div>


    <div class="row" style="margin-top:20px;">
        <div class="center-align col-sm-12 col-md-10 col-md-offset-1">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-shopping-cart fa-3x" aria-hidden="true"></i>
                <p style="padding-bottom:30px;padding-top:10px;color:#777;font-size:16px;"><b>Offer more</b></p>
                <p>Add a new sales channel and get your products in your customers’ hands faster.</p>	
            </div>	
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>
                <p style="padding-bottom:30px;padding-top:10px;color:#777;font-size:16px;"><b>Learn more</b></p>	
                <p>Get insights what else your customers may want with data from their behaviour and actions</p>
            </div> 
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
                <p style="padding-bottom:30px;padding-top:10px;color:#777;font-size:16px;"><b>Sell more</b></p>
                <p>More products mean more traffic,higher AOV, and increased loyalty</p>
            </div>
        </div>
    </div>
</div>