 <div class="container" style="padding-top:20px;padding-bottom:10px;">
        <div class="row text-center">
            <div class="center-align col-md-10 col-md-offset-1">
                <h2 style="padding-bottom:10px;">Solutions for e-Commerce</b></h2>
                <p class="text-center" style="color:#777;">
                    Get new products in your customers’ hands faster and build your own customized e-Commerce solution with <a href="/marketplace">VQ-Marketplace Platform</a> or learn what else your customers want, improve the user experience and boost your sales with <a href="/marketplace-ai">VQ-Marketplace AI</a>.
                </p>
            </div>	
        </div>

    <div class="row" style="margin-top:20px;">
        <div class="center-align col-sm-12 col-md-10 col-md-offset-1">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-search-plus fa-3x" aria-hidden="true"></i>
                <p style="padding-bottom:5px;padding-top:10px;color:#777;font-size:16px;"><b>Offer More</b></p>
                <p>Add a new sales channel and get your products in your customers’ hands faster.</p>	
            </div>	
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-lightbulb-o fa-3x" aria-hidden="true"></i>
                <p style="padding-bottom:5px;padding-top:10px;color:#777;font-size:16px;"><b>Learn More</b></p>	
                <p>Get insights what else your customers may want with data from their behaviour and actions.</p>
            </div> 
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>	
                <p style="padding-bottom:5px;padding-top:10px;color:#777;font-size:16px;"><b>Sell More</b></p>
                <p>More products mean more traffic, and increased user loyalty.</p>
            </div>
           </div> 
        </div>
    </div>
