   
   <div class="container">
        <div class="row text-center">
            <div class="center-align col-md-10 col-md-offset-1">
                <h2 style="padding-bottom:10px;">Marketplaces in Sharing Economy</h2>
                     <p>
                    The sharing economy allows people to easy access to products and services from someone else through an internet platform, on a peer-to-peer (C2C), B2C and B2B basis. A two-sided marketplace in the field of sharing economy allows you to connect people in an online platform, and also to build and manage a community. </p>
              </div>
           </div>         
       </div>    