    <div class="container">
        <div class="row">	
            <h2 style="padding-bottom:15px;">We Support Entrepreneurs</h2>
                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">  
					<img src="/images/mockup-2.png" class="img-responsive" alt="marketplace-mockup">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left"> 
                    <p>Do you have a great idea, but need help in technology? VQ Labs takes over the technology for you so that you can focus on the business development.</p> 
                    <p>Not only we support you technologically, but we also team up with you and share with you our years of experience in Sharing Economy solutions.</p>
					 
				</div>	
                	
			</div>
       </div>     