

<div class="container">
    <div class="center-align col-md-10 col-md-offset-1">
        <div class="page-header">
            <h2 id="timeline">Enterprise Sharing Economy Solutions</h2>
            <p style="padding-bottom:20px;padding-top:10px;">
                At VQ Labs, we deliver end-to-end sharing-economy / marketplace solutions for our premium partners. <br>We are involved from the very start.
            </p>     
        </div>
        
  <ul class="timeline">
    <li>
      <div class="timeline-badge planning"><i class="glyphicon glyphicon-check"></i></div> 
        <div class="timeline-panel">
          <div class="timeline-heading">
             <h4 class="timeline-title text-left" style="font-size:16px;"><b>Assessing the Sharing Economy Readiness of Your Organization</b></h4>
          </div>
          <div class="timeline-body ">
              <ul class="text-left">
                 <li>Demand Side Analysis: Assess Customer Needs</li>
                 <li>Supply Side Analysis: Share Your Asset Base</li>
                 <li>Business consulting</li>
                 <li>Report preparation</li>
              </ul>    
          </div>
       </div>
    </li>  
    
    

    <li class="timeline-inverted">
      <div class="timeline-badge implementing"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-left" style="font-size:16px;"><b>Design Thinking</b></h4>
        </div>
        <div class="timeline-body">
          <ul class="text-left">
                <li>Customizing and adjustments of the VQ software</li>
                <li>Target group analysis</li> 
                <li>Custom solution design</li>
                <li>Sleek UI and UIX</li>
            </ul>
        </div>
      </div>
    </li>

    <li class="">
        <div class="timeline-badge implementing"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title text-left" style="font-size:16px;"><b>Implementation</b></h4>
          </div>
          <div class="timeline-body">
            <ul class="text-left">
                  <li>Customizing and adjustments of the VQ software</li>
                  <li>Implementation of the individual extensions</li>
                  <li>Complete changeover of the company to software</li>       
              </ul>
          </div>
        </div>
    </li>
    
    <li class="timeline-inverted">
      <div class="timeline-badge deploying"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title text-left" style="font-size:16px;"><b>Pilot deployment</b></h4>
        </div>
        <div class="timeline-body">
          <ul class="text-left">
                <li>Beta deployment</li>
                <li>Pilot project</li>
            </ul>
        </div>
      </div>
    </li>
    <li class="">
        <div class="timeline-badge implementing"><i class="glyphicon glyphicon-credit-card"></i></div>
        <div class="timeline-panel">
          <div class="timeline-heading">
            <h4 class="timeline-title text-left" style="font-size:16px;"><b>Go Live and Support</b></h4>
          </div>
          <div class="timeline-body">
            <ul class="text-left">
                  <li>Deployment into production</li>
                  <li>Premium 24/7h support</li>
              </ul>
          </div>
        </div>
      </li>
  </ul>
</div> 
