<div class="container" style="margin-bottom:50px;">
			<div class="row">
				<h2>We Have Products For You</h2>
						
			 	<div class=" col-xs-12 col-sm-12 col-md-6 col-lg-5 text-left col-lg-offset-1 ">
						<h4 style="color:#777;padding-bottom:15px;"><b>VQ-Marketplace</b></h4>
						   <p style="color:#777;font-size:16px;"><b>&#10004; For Entrepreneurs</b></p>
						   <p>Do you have a great idea for the next big thing? We can team up with you and provide both technology for your startup and as well as years of experience in e-Commerce and Shared-Economy solutions. 
						   </p>
					       <p style="color:#777;font-size:16px;padding-top:10px;"><b>&#10004; For Small & Mid-Sized Business</b></p>
						   <p>You want your business to go online? Bring your clients together in an online platform, increase your business' presence and get more conversion.
						   </p> 

					<div class="row" style="padding-top:25px;">
			        	<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center col-md-offset-2 col-lg-offset-3">
				  			 <a href="/brochure-vq-marketplace.pdf" class="button">Read Brochure</a>
						</div>
			 	   </div>    
            	</div> 	

				<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5 text-left ">
					<h4 style="color:#777;padding-bottom:15px;"><b>VQ-AI</b></h4>
					   <p style="color:#777;font-size:16px;"><b>&#10004; For  Small & Mid-Sized Business</b></p>
						   <p>You have a successful online business, yet want to stay ahead of the curve? We analyze the behaviour and actions of your users and present you smart recommendations that will bring you a better customer retention and a higher revenue.
						   </p>
					   <p style="color:#777;font-size:16px;padding-top:10px;"><b>&#10004; For  Enterprise</b></p>
						   <p>Use Artificial Intelligence and Machine Learning in your Enterprise. We offer you a smart, secure and robust technology. We offer installations on-premise or in the private cloud of your choice.
						   </p>	   	

					<div class="row" style="padding-top:25px;">
						<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 text-center col-md-offset-2 col-lg-offset-2">
				  			 <a href="/brochure-vq-ai.pdf" class="button">Read Brochure</a>
						</div>
			 	   </div>  	   
       		 	</div> 		 
	       </div> 
	 </div>	