<div class="container" style="padding-bottom:20px;">	
             <div class="row" style="padding-bottom:20px;">
                <h2>Start-up your marketplace</h2>
			</div>
			
			<div class="row">	

                 <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 ">
					<img src="/images/mockup-2.png" class="img-responsive" alt="marketplace-mockup">
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left"> 
						<h3 style="color:#777;padding-bottom:15px;"><b>We Empower Entrepreneurs</b></h3>
                    <p>Do you have a great idea and need a seamless solution in sharing economy? We allow entrepreneurs to manage their own marketplace and have the total control over it. </P> <P>We team up and provide you with both our robust technology and as well as years of experience in Sharing Economy solutions - C2C and B2B. 
                    </p>
					 
                    <br>	
						<a href="/vq-marketplace" class="button">Learn more</a>
				</div>	
                	
			</div>
</div>

      

        
    
      