<div class="container" style="padding-bottom:50px;">
    <div class="row" style="padding-bottom:30px;">
        <h2>Coming next</h2>
    </div>
    
    <div class="row">	
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left"> 
            <h4><b>Decentralized Marketplace Network</b></h4>
            <p>
                The next step is to introduce a element of decentralization to the system. We introduce an architecture
                of global decentralized database of listings, transactions, disputes and more.
                Multiple rentals-, services- and ride-sharing marketplaces can connect to this global database. Those
                platforms become in this context just “enablers” or “storefronts” of the transactions between the
                demand and supply side.
                We develop decentralized protocols for storage of listings, for transactions for sharing economy use cases and resolving disputes in the ecosystem.
            </p>	
            </p><br>
            <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 p-0 pb-1">	
               <a href="https://vqmarketplace.com/whitepaper.pdf" class="btn-block vq-button">Whitepaper</a>
            </div>
            <div class="col-md-4 col-md-offset-1 col-xs-8 col-xs-offset-2 p-0 pb-1">	
                <a href="https://vqlabs.typeform.com/to/rbZUNN" class="btn-block vq-button">Contribute</a>
            </div>   
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <img src="/images/vq-ecosystem.png" class="img-responsive" alt="VQ Marketplace Ecosystem">
        </div>	
    </div>
</div>
