<div class="container" style="padding-bottom:50px;">
			<div class="row" style="padding-bottom:30px;">
                <h2>Showcase</h2>
			</div>
			
			<div class="row">	
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left"> 
					<h4><b>TalentWand</b></h4>
					<p>TalentWand is a community of freelance services that can help you build up your Sharing Economy business.
					</p>	
					<p>The platform brings talented talents and entrepreneurs/startups together. 
					</p><br>
					<div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 p-0 pb-1">	
					   <a href="https://talentwand.vqmarketplace.com/app" class="btn-block vq-button">Learn more</a>
					</div>   
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					 <a href="https://talentwand.vqmarketplace.com/app">
						<img src="/images/talentwand.png" class="img-responsive" alt="TalentWand Logo"></a> 
				</div>	
			</div>

			<div class="row" style="padding-top:50px;">	
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
					<a href="https://clickforwork.hu">
						<img src="/images/clickforwork.png" class="img-responsive" alt="ClickForWork storefront">
					</a> 
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left"> 
						<h4><b>Click For Work</b></h4>
						<p>
							ClickForWork is a services marketplace powered by VQ-Marketplace.
						</p>	
						<p>
							The platform enables private people to outsource daily tasks to the students nearby. ClickForWork facilitates the growth of on-demand services in Hungary.
						</p>
						<br>
						<div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 p-0 pb-1">	
							<a href="https://clickforwork.hu" class="btn-block vq-button">Learn more</a>
						</div>   
					</div>	
			</div>
</div>
     