<div class="container" style="padding-bottom:50px;">
			<div class="row" style="padding-bottom:30px;">
                <h2>Showcase</h2>
			</div>
			
			<div class="row">	
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
					<a href="https://talentwand.vqmarketplace.com"><img src="/images/talentwand.png" class="img-responsive" alt="talentwand mockup"></a>
					<p style="padding-top:30px;"> <a href="https://talentwand.vqmarketplace.com">TalentWand</a> is a freelance services marketplace powered by VQ-Marketplace. The platform brings talented freelancers, entrepreneurs and startups together.
					</p>	
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6"> 
					<a href="https://clickforwork.hu"><img src="/images/c4w.png" class="img-responsive" alt="c4w mockup"></a>
					<p style="padding-top:30px;"> <a href="https://clickforwork.hu">Click For Work</a> is a services marketplace from Hungary. The platform enables private people to outsource on-demand tasks to students nearby. 
					</p>
				</div>
			</div>	
</div>
					