<div class="container" style="padding-bottom:20px;">
        <div class="row text-center">
            <div class="center-align col-md-10 col-md-offset-1">
                <h2 style="padding-bottom:10px;">A platform made for you</h2>
                  <p>      
                    We built a Marketplace platform for you so that you can focus on the business development. Our ready-to-go solution will enable you to easily build your Marketplace in seconds and will get you on the market quickly, collect feedback and validate your business idea. </p>
            </div>	
        </div>

      <div class="row" style="margin-top:20px;">
        <div class="center-align col-sm-12 col-md-10 col-md-offset-1">
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-star fa-2x" style="color:#000000" aria-hidden="true"></i>
                <p style="padding-bottom:5px;padding-top:10px;font-size:16px;"><b>Fast time to market</b></p>	
                <p>We encourage and enable entrepreneurs to go to market, explore their customers, and validate their ideas instead of spending time on building a product that might not work in the end.
                 </p>
            </div> 
            <div class="col-xs-12 col-sm-4 col-md-4">
             <i class="fa fa-star fa-2x" style="color:#000000" aria-hidden="true"></i>
                <p style="padding-bottom:5px;padding-top:10px;font-size:16px;"><b>Easy to customize</b></p>
                <p>No developers needed. No coding skills needed. Easily build and manage your marketplace through the Admin dashboard. </p>
                
            </div>	
            <div class="col-xs-12 col-sm-4 col-md-4">
                <i class="fa fa-star fa-2x" style="color:#000000" aria-hidden="true"></i>	
                <p style="padding-bottom:5px;padding-top:10px;font-size:16px;"><b><b>Free forever</b></p>
                <p>Start with the core, spend nothing. We provide you with a free Marketplace which will allow you to get your first users, collect feedback and develop your platform accordingly instead of worrying about the costs.</p>
            </div>
           </div> 
        </div> 

   </div>