<!-- Begin MailChimp Signup Form -->
<div class="mc_embed_signup">
    <form action="//vq-labs.us10.list-manage.com/subscribe/post?u=1eed939c3da079b0630158256&amp;id=8ecda9e835" method="post" class="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc_embed_signup_scroll">
    
            <input type="email" value="" name="EMAIL" class="email" class="mce-EMAIL" placeholder="Email address" required>
        
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_1eed939c3da079b0630158256_8ecda9e835" tabindex="-1" value="">
            </div>
            <button type="submit"  name="subscribe">Get Started</button>
        </div>
    </form>
</div>
<!--End mc_embed_signup-->