   
   <div class="container">
        <div class="row text-center" >
            <div class="center-align col-md-10 col-md-offset-1">
                <h2 style="padding-bottom:10px;">Marketplaces in Sharing Economy</h2>
                     <p style="padding-bottom:25px;">
                    Online marketplaces have been popular recently with the riso of "Sharing Economy", which allows people to easily access to products and services from someone else through an internet platform on a peer-to-peer (C2C), B2C and B2B basis. 
                    VQ Labs supports varied sharing economy use cases and enables you to have your own online marketplace that fits into your business model as well as your industry.</p>
              </div>
           </div>  

            <div class="row" > 
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/use-cases"> <img border="0" alt="buy-sell" src="/images/buy.jpg" width="280" height="180">
                        </a>
                        <p style="padding-top:20px;"><b>Buy & Sell goods / services</b></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/use-cases"> <img border="0" alt="buy-sell" src="/images/bikes.jpg" width="280" height="180">
                        </a><br>
                        <p style="padding-top:20px;"><b>Rentals & Bookings</b></p>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <a href="/use-cases"> <img border="0" alt="buy-sell" src="/images/skill.jpg" width="280" height="180">
                        </a><br>
                        <p style="padding-top:20px;"><b>Knowledge & Talent sharing</b></p>
                    </div>

            </div>    

            <div class="row" style="padding-top:20px;">
                <div class="col-xs-12">
                    <a href="/use-cases"><u>See use cases</u></a>
                </div>   
            </div> 

       </div>    