<div class="container" style="padding-bottom:50px;">
	<div class="row" style="padding-bottom:30px;">
		<h2>What we are proud of</h2>
	</div>
	
	<div class="row">	
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left"> 
			<h4><b>Techcrunch Disrupt Berlin 2017 Winner</b></h4>
			<p>We won the TechCrunch Disrupt 2017 and the special Company Award from SAP Hybris. The idea was Quick Insurance - the easiest way to purchase an insurance product for all your valuable stuff. Let’s say you go skiing for a week with a very expensive camera. In just a few taps, you can insure your camera for a week from your phone.
			</p>	
			<br>
			<div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 p-0 pb-1">	
				<a href="https://techcrunch.com/2017/12/03/quick-insurance-wins-the-disrupt-berlin-2017-hackathon-grand-prize/" class="btn-block vq-button">Learn more</a>
			</div>   
		</div>

		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-left"> 
				<h4><b>"Are our Smart Devices Smart enough?" - Zurich Insurance Innovation Award </b></h4>
				<p>
					A key issue for Zurich was to address risks related to driver distraction, thus reducing accidents and saving lives. Zurich’s own jury selected team SafeDrive as their winner, finding their solution based on image recognition to prevent driver distraction, held to be – dare we say it? – the ‘smart’ approach.
				</p>	
				<br>
				<div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 p-0 pb-1">	
					<a href="https://www.zurich.com/en/knowledge/articles/2017/10/hacks-that-improve-lives-make-people-safer" class="btn-block vq-button">Learn more</a>
				</div>   
			</div>
	</div>
</div>
     