<div class="container" style="padding-bottom:20px;">
        <div class="row text-center">
            <div class="center-align col-md-10 col-md-offset-1">
                <h2 style="padding-bottom:10px;">Access over Ownership</h2>
                <p>      
                    We build products that make people connected and allow them to access goods or services without the need to own them.
                </p>
            </div>	
        </div>

    <div class="row" style="margin-top:20px;">
    <div class="center-align col-sm-12 col-md-10 col-md-offset-1">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <i class="fa fa-star fa-2x" style="color:#000000" aria-hidden="true"></i>
            <p style="padding-bottom:5px;padding-top:10px;font-size:16px;"><b>VQ Marketplace Platform</b></p>	
            <p>
                VQ Marketplace Platform allows entrepreneurs, creatives and businesses to create risk-free online
                marketplaces in seconds, thereby quickly entering the market and validating their ideas.
            </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <i class="fa fa-cubes fa-2x" style="color:#000000" aria-hidden="true"></i>
            <p style="padding-bottom:5px;padding-top:10px;font-size:16px;"><b>VQ Ecosystem of Marketplaces</b></p>
            <p>
                VQ Ecosystem of Marketplaces concentrates on boosting Network Effects between different stakeholders in the Marketplace Ecosystem.
            </p>
        </div>	
        </div> 
    </div>
</div>