   
   <div class="container">
        <div class="row text-center" >
            <div class="center-align col-md-10 col-md-offset-1">
                <h2 style="padding-bottom:10px;">VQ Marketplace - Start Your Marketplace in Seconds</h2>
                     <p style="padding-bottom:25px;">
                    Online marketplaces have recently been popular with the rise of "Sharing Economy". This allows people to easily access online someone else’s goods, services or spaces on a peer-to-peer (C2C), B2C and B2B basis. Some of the most nothworthy online marketplace platforms are Airbnb, Uber, Taskrabbit or Etsy. Our solution enable you </p>
              </div>
           </div>  
            <div class="row" > 
                <div class="col-md-4 col-md-offset-4">	
                    <a href="https://vqmarketplace.com" class="btn-block vq-button">Start Your Free Marketplace</a>
                </div>  
            </div>  
       </div>    