<div ng-app="vqHeader" ng-controller="HeaderCtrl as header">

<md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop md-whiteframe="4">
    <md-content style="margin-top:50px;">
        <md-list flex>
          <md-list-item class="md-1-line">
            <a href="/"><h5>VQ Labs</h5></a>
         </md-list-item>
          <md-list-item class="md-1-line">
            <a href="/vq-marketplace"><h5 class="text-left">VQ-Marketplace</h5></a>
          </md-list-item>
        <md-list-item class="md-1-line">
            <a href="/vq-ai"><h5>VQ-AI</h5></a>
          </md-list-item>
          <md-list-item class="md-1-line">
            <a href="/pricing"><h5>Pricing</h5></a>
          </md-list-item>
          <md-list-item class="md-1-line">
            <a href="/use-cases"><h5>Use Cases</h5></a>
          </md-list-item>
          <md-list-item class="md-1-line">
            <a href="/implementation"><h5>Implementation</h5></a>
          </md-list-item>
          <md-list-item class="md-1-line">
            <a href="/contact"><h5>Contact</h5></a>
          </md-list-item>
         
        </md-list>  
     </md-content>   
</md-sidenav>

<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#ffffff;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" class="active" href="/">
                <img style="padding: 5px; padding-top:0px; height: 40px;" class="visible-xs" src="/vq-labs-logo-xs-2.png"/>
                <img style="padding: 5px; padding-top:0px; height: 35px;" class="hidden-xs" src="/vq-labs-logo-xs-2.png"/>
            </a>

            <button type="button" class="navbar-toggle collapsed pull-right" ng-click="header.toggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            
            <ul class="nav navbar-nav navbar-right">
                <li>
                        <md-menu ng-cloak>
                            <md-button  ng-click="header.openMenu($mdOpenMenu, $event)">
                                Solutions
                            </md-button>
                            <md-menu-content>
                                <a href="/vq-marketplace">
                                    <md-menu-item>
                                        <md-button>
                                                <div layout="row" flex>
                                                    <p flex>VQ-Marketplace</p>
                                                </div>
                                        </md-button>
                                    </md-menu-item> 
                                </a>
                                <a href="/vq-ai">
                                    <md-menu-item>
                                        <md-button>
                                            <div layout="row" flex>
                                                <p flex>VQ-AI</p>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                 </a>
                            </md-menu-content>
                        </md-menu>
                </li> 
                <li>      
                    <a href="/pricing">
                         <md-button>
                             <span style="color:#777;">Pricing</span>
                         </md-button>         
                    </a>          
                 </li>       
                <li>
                    <md-menu>
                        <md-button  ng-click="header.openMenu($mdOpenMenu, $event)">
                            Services
                        </md-button>
                        <md-menu-content> 
                             <a href="/use-cases">
                                <md-menu-item>
                                    <md-button>
                                            <div layout="row" flex>
                                                <p flex>Use Cases</p>
                                            </div>
                                    </md-button>
                                </md-menu-item>
                             </a>
                            <a href="/implementation">
                                <md-menu-item>
                                    <md-button>
                                        <div layout="row" flex>
                                            <p flex>Implementation</p>
                                        </div>
                                    </md-button>
                                </md-menu-item>
                             </a>
                        </md-menu-content>
                    </md-menu>
                </li>
                 <li>
                     <a href="/contact">
                         <md-button>
                             <span style="color:#777;">Contact us</span>
                         </md-button>         
                    </a>  
                 </li>   
            </ul>
        </div>
    </div>
</nav>

</div>
