<div class="container">	
	        <div class="center-align col-md-10 col-md-offset-1"> 
				<h2 class="title" style="padding-bottom:10px;">VQ-AI: Intelligent Recommendation Engine</h2>
				<p style="padding-bottom:20px;">We integrate Artificial Intelligence / Machine Learning algorithms to increase your revenue and provide a better experience to your users.</p>
			</div>	
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">			
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Recommended products for users</b></p>
							<p>
								You can use VQ-AI to display recommended items for your users. Displaying recommended items enhances your users' experience and provides you with a more user engagement and customer retention.
							</p>
							
						</div>
					<div class="col-xs-12 col-sm-6 col-md-5">	
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Recommended users for products</b></p>
							<p>If you have a new item or a group of items or a campaign, you can use VQ-AI to target users for those items. This leads you to present interesting content to some of your users while not bothering the rest of them.</p>
					</div>
				</div>
				<br>
				<div class="row">	
					<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1">	
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Find similar behaviours</b></p>
							<p>
								Being able to find which users are similar to each other could be useful for your users significantly when they are able to find other like-minded users. Personal connections made in your platform would help you increase the user loyalty.
							</p>
					</div>
	
					<div class="col-xs-12 col-sm-6 col-md-5">	
							<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Find similar products</b></p>
							<p>
								You may promote similar items on item pages for your users. Since they are already visiting an item, they could be more likely to see other items that similar users also visit. You can also use the feature to predict tags or categories for your items.
							</p>
					</div>
				</div>	
				<div class="row" style="padding-top:20px;">
					<div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 col-lg-offset-3">
						<p style="padding-top:10px;color:#777;font-size:16px;"><b>&#10004; Analytics Dashboard</b></p>
							<p>
								Nearly real-time visualization of the tracking data. You get nearly real-time insights into the tracking data that is collected on your platform.
							</p>
					</div>
				</div>	

				<div class="row text-center" style="padding-top:30px;padding-bottom:10px;">
       			 	<a href="/vq-ai/how-it-works" class="button">How it Works</a>
   			 	</div>
		</div>
