<div class="container">
     <div class="row">
        <div class="center-align col-md-10 col-md-offset-1">  
            <h2 style="padding-bottom:10px;">How it Works</h2>
            <p style="padding-bottom:10px;">
                We offer you a competitive and robust technology that learns your customers' behaviour and recommends personalized products to them, or vice versa.  
            </p>

            <div style="padding-bottom:40px;">
				<img class="img-responsive" style="margin: 0 auto; max-width: 750px; width: 100%;" src="/ai-technology.png" />

			</div>

            <div class="col-xs-12 col-sm-4 col-md-4">	
                        <i class="fa fa-cog fa-3x" aria-hidden="true"></i>	
                        <p style="padding-top:10px;color:#777;font-size:16px;"><b>Integrate and track</b></p>
                        <p style="padding-top:10px;">
                          User Actions are sent to the VQ-AI using the REST API. The user actions are stored in the database.
                        </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                    <i class="fa fa-sitemap fa-3x" aria-hidden="true"></i>	
                    <p style="padding-top:10px;color:#777;font-size:16px;"><b>Learning</b></p>
                    <p style="padding-top:10px;">The provided Analyzers periodically analyze all recorded data for identifying patterns to generate recommendations.</p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4">
                    <i class="fa fa-filter fa-3x" aria-hidden="true"></i>	
                    <p style="padding-top:10px;color:#777;font-size:16px;"><b>Display Recommended Content</b></p>
                    <p style="padding-top:10px;">
                    These Recommendations can be accessed through calls to the easyrec Web Service API and presented to a user.
                    </p>
            </div>
        </div>
      </div>  
</div>